@model RatingFormModel
@{
    ViewBag.Title = "Edit Rating";
}

<h2 class="title">@ViewBag.Title</h2>
<hr />

<form asp-area="User" asp-controller="Rating" asp-action="EditRating" method="post" enctype="multipart/form-data">
    <partial name="_RatingPartial" model="@Model" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}