@model IEnumerable<CommentInfoModel>
@{
    ViewBag.Title = $"All Comments About {Model.FirstOrDefault().RecipeTitle}";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center col">
    @foreach (var c in Model)
    {
        <div class="card row-4" style="width: 20rem;">
            <div class="card-body">
                <h3 class="card-title mt-1">@c.Content</h3>
                <h4 class="card-title mt-1">@c.UserUsername</h4>
                <h5 class="card-title mt-1">@c.CreationDate</h5>
            </div>
        </div>
        <br/>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}