@{
    ViewBag.Title = "About us";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="mb-0">
    <h3 class="text-start">Welcome to TasteHub!</h3>
    <p>At TasteHub, we believe that cooking is more than just a task – it's an art, a science, and a journey of exploration. We're passionate about bringing you delicious recipes that inspire creativity in the kitchen and delight your taste buds. </p><br>
    <h5 class="text-start">Our Mission is simple:</h5>
    <p>To provide you with a treasure trove of mouthwatering recipes that cater to every palate, occasion, and dietary preference. Whether you're a seasoned chef or a novice home cook, we're here to guide you through culinary adventures that ignite your passion for cooking.</p><br>
    <h5 class="text-start">What Sets Us Apart</h5>
    <p>What makes TasteHub unique is our commitment to quality, creativity, and community. Our team of talented chefs and food enthusiasts meticulously curates each recipe, ensuring that it not only tastes phenomenal but also comes with clear instructions and helpful tips.</p><br>
    <h5 class="text-start">Our Recipes</h5>
    <p>From quick weeknight dinners to decadent desserts, our recipe collection spans a diverse range of cuisines, ingredients, and cooking techniques. Whether you're craving comforting classics, exotic flavors, or healthy alternatives, you'll find plenty of options to tantalize your taste buds.</p><br>
    <h5 class="text-start">Join Our Community</h5>
    <p>We believe that food has the power to bring people together. That's why we invite you to join our vibrant community of food lovers! Share your culinary creations, exchange tips and tricks, and connect with like-minded individuals who share your passion for cooking.</p><br>
    <h5 class="text-start">Get in Touch</h5>
    <p>Have a question, suggestion, or just want to say hello? We'd love to hear from you! Feel free to reach out to us via email, social media, or through our website's contact form. Your feedback helps us continually improve and evolve, ensuring that [Your Website Name] remains your go-to destination for all things delicious.</p><br>
    <h5 class="text-start">
        Thank you for choosing TasteHub as your culinary companion. Let's embark on a flavorful journey together!

        Happy cooking!
    </h5>
</div>