@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="~/images/404_Error.png" style="width: 500px;" />
                <div class="text-center h4">
                    <p>Ooops, page was not found. </p>
                </div>
                <div class="text-center h4"> Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>