@model RecipeFormViewModel
@{
    ViewBag.Title = "Add Recipe";
}

<h2 class="title">@ViewBag.Title</h2>
<hr />

<form asp-area="User" asp-controller="Recipe" asp-action="AddRecipe" method="post" enctype="multipart/form-data">
    <partial name="_RecipeFormPartial" model="@Model" />
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
