@model RecipeFormViewModel
@{
    ViewBag.Title = "Edit Recipe";
}

<h2 class="title">@ViewBag.Title</h2>
<hr />

<h4 class="text-center">@Model.Title</h4>
<hr />

<form asp-area="User" asp-controller="Recipe" asp-action="EditRecipe" method="post" enctype="multipart/form-data">
    <partial name="_RecipeFormPartial" model="@Model" />
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}