@model IEnumerable<UserViewModel>
@{
    ViewBag.Title = "All Users";
}

<h2 class="title">Admin</h2>
<br>
<h3 class="title">@ViewBag.Title</h3>
<hr />

@if (Model.Any())
{
    <div class="text-center row">
        @foreach (var r in Model)
        {
            <div class="card text-center col-4" style="width: 20rem; ">
                <div class="card-body">
                    <h5 class="card-title mt-1">@r.Username</h5>
                    <p class="mb-0"><span class="fw-bold">Role: </span>@r.RoleName</p>
                    <p class="mb-0"><span class="fw-bold">Recipes: </span>@r.RecipesCount</p>
                </div>
            </div>
        }
    </div>
}
@if (Model.Any() == false)
{
    <h4 class="text-center">No result!</h4>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
