@model RecipeFormViewModel
@{
    ViewBag.Title = "Add Recipe";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_RecipeFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
