@model IEnumerable<RecipeInfoViewModel>
@{
    ViewBag.Title = "All Recipes";
}
<h2 class="text-start">Recipes</h2>
<hr />

<partial name="_SearchPartial" />

<h5 class="text-start">Filter by:</h5>
<li class="nav-item d-flex dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Category:
    </a>
    <ul class="dropdown-menu">
        @foreach (var item in ViewBag.Categories)
        {
            <li class="nav-item text-center">
                <a asp-controller="Recipe" asp-action="AllRecipes" asp-route-category="@item.Name" class="nav-link text-dark">@item.Name</a>
            </li>
        }
    </ul>
    <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Published Date:
    </a>
    <ul class="dropdown-menu">
        <li class="nav-item text-center">
            <a asp-controller="Recipe" asp-action="AllRecipes" asp-route-sorting="Newest" class="nav-link text-dark">Newest</a>
            <a asp-controller="Recipe" asp-action="AllRecipes" asp-route-sorting="Oldest" class="nav-link text-dark">Oldest</a>
        </li>
    </ul>
</li>

<partial name="_RecipesPartial" model="Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}