@model IEnumerable<RecipeInfoViewModel>
@{
    ViewBag.Title = "All Recipes";
}

<div class="text-center row">
    @foreach (var r in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h5 class="card-title mt-1">@r.Title</h5>
                <img class="card-img-top" src="data:image/png;base64,@r.Image" alt="Image">
                <p class="mb-0"><span class="fw-bold">Description: </span>@r.Description</p>
                <p class="mb-0"><span class="fw-bold">Ingredients: </span>@r.Ingredients</p>
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}