@model IEnumerable<RecipeInfoViewModel>
@{
    ViewBag.Title = "Recipes Result";
}
<h2 class="title">Result</h2>
<hr />

<partial name="_SearchPartial" />
<partial name="_RecipesPartial" model="Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
